#mainContainer{
	background-color: #f5f5f5;
	padding:40px;
}
#Testimonial1{
	background-color:white;
	border:1px solid black;
	padding:5px;
	margin:10px;
	font-size:15px;
}
#Testimonial2{
	background-color:white;
	border:1px solid black;
	padding:5px;
	font-size:15px;
}
.author{
	font-style:italic;
	text-align:right;
}